.home{
    .user{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #ccc;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 40px;
        }
        &info{
            .name{
                font-size: 32px;
                margin-bottom: 5px;
            }
            .access{
                color: #999;
            }
        }
    }
    .login-info{
        margin-top: 20px;
        p{
            line-height: 28px;
            font-size: 14px;
            color: #999;
        }
        span{
            color: #555;
            margin-left: 30px;
        }
    }
    .num{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        .el-card{
            width: 32%;
            margin-bottom: 20px;
        }
        .icon{
            font-size: 30px;
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            color: #fff;
        }
        .detail{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .num{
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
    }
    
    .graph{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .el-card{
            width: 48%;
        }
    }
}